.App {
  margin: 2% 20% 2% 20%;
  text-align: center;
  font-family: "Garmond", serif;
  padding: 4px;
}

img {
  max-height: 100%;
  max-width: 100%;
  margin: 1%;
}

button {
  font-size: 24px;
  padding: 2%;
  margin: 1%;
  border: 2px solid cornflowerblue;
  border-radius: 8px;
  background: cornflowerblue;
  color: white;
}

.results {
  border: 2px solid cornflowerblue;
  border-radius: 8px;
  background: #eff3fa;
  padding: 2%;
  margin: 1%;
}